<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Eniekey Press has been producing independant small press Comics since 2019. We love that no 2 eniekey projects are the same. In a world where everyone is making shared universes, We strive, instead to make something universal. entertaining and dare we say Fun?</p>
      </div>
      <div class="col-lg-4">
        <p>We pride ourselves on giving you a much entertainment as we can. Digital comics are always half the price of physical and physical books ALWAYS come with an extra mini comic </p>
      </div>
    </div>
  </div>
</section>
