
<!-- Store Section -->
<section class="store" id="store">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Store</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>If you need a digital comic, Because whos got time/money for international postage, go to the digital store</p>
        <button type="submit" class="btn btn-success btn-lg">Digital Store</button>

       <a href="http://stackoverflow.com" class="buttonEXT">stack<b>overflow</b>.com</a>





        
      </div>
      <div class="col-lg-4">
        <p>If you nned the smell of in and to hold the book in your hands, go to the physical store </p>
        <button type="submit" class="btn btn-success btn-lg">Physical Store</button>
      </div>

      
    </div>
  </div>
</section>
